/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo{
    color:greenyellow
}

.title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
}
.sub{
    font-size: 1.1rem;
}